Source: shareef12-meta
Section: metapackages
Priority: optional
Maintainer: Christian Sharpsten <christian.sharpsten@gmail.com>
Standards-Version: 4.5.0
Build-Depends: debhelper-compat (= 13)
Rules-Requires-Root: no

Package: shareef12-desktop
Architecture: all
Depends: ${package:Depends}, ${misc:Depends}
Recommends: ${package:Recommends}
Description: shareef12's Desktop Environment
 This package depends on all of the packages that create shareef12's desktop
 environment.
